* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* banner section styels */
.banner {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 600px;
}

.banner-text {
    padding-top: 150px;
    padding-left: 900px;
    padding-right: 150px;
    padding-bottom: 200px;
    direction: rtl;
    /* to change the text direction */
}

.banner-title {
    font-weight: 700;
    font-size: 45px;
}

.banner-description {
    color: gray;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    color: white;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

/* previous year section styles */

.previous-yr img {
    padding: 70px 0;
}

.previous-yr {
    display: flex;
    gap: 50px;
    padding: 70px 150px;
}

.previous-yr-text {
    padding-top: 300px;
}

.previous-yr-title {
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-right: 300px;
}

.previous-yr-description {
    font-weight: 400;
    font-size: 16px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: gray;
}

.previous-yr ul {
    font-weight: 400;
    font-size: 16px;
    color: gray;
    list-style: none;
}

.previous-yr li {
    padding-bottom: 10px;
}

.previous-yr li span {
    color: green;
}

/* my plans styles */

.my-plans {
    margin-bottom: 70px;
    text-align: center;
}

.plans-title {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 30px;
}

.plans-item {
    display: flex;
    gap: 100px;
    margin-left: 300px;
}

.plan img {
    height: 50px;
}

.plan-title {
    font-weight: 700;
    font-size: 18px;
    color: #181818;
    padding: 10px 0;

}

.plan-description {
    color: gray;

}

/* banner positive section styles */


.banner-positive {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(242, 121, 53, 1)), url('../images/watch.png');
    /* using "Linear Gradient - Transparency" in here */
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.banner-positive {
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 70px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.banner-positive-context {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.banner-positive-context button {
    border: none;
    color: #FD6E0A;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}